@charset "utf-8";
/* 第一部分的样式表 */
body {background-color:#000;
      margin:0px;
	  padding:0px;
	  }
div.all {background-color:#CCC;
	    width:1282px;
	    font-family: Tahoma, Geneva, sans-serif;
	    margin:0 auto;
	    }
img {padding:10px 0 10px 0;}
/* 设置网页页眉样式 */
div.header {
	background-color:#666;
	width:1280px;
	height:60px;
	padding:0px;
	margin:0px;
	}
div.header h1 {
	color:#FFF;
	float:left;
	position:relative;
	left:20px;
	top:-10px;
	width:auto;
	}
div.header ul {
	height:auto;
	float:right;
	margin-right:10px;
	}
/* 设置链接样式 */
li {
	margin:10px;
	}
li.a {float:left;
	  }
a.lianjie {
	text-decoration:none;
	color:#FFF;
	}
a.lianjie_4 {
	text-decoration:none;
	color:#CCC;
	}
/* 字体的大小 */
h1 {font-size:2em;}
h2 {
	font-size:1.5em;
	font-weight:900;
	color:#333;
	}
h3 {font-size:1em;
	color:#666;
	}
p  {font-size:0.8em;}
li {font-size:0.8em;}
/* 缩进 */
p.neirong {
	text-indent:25px;
    }
/* 第二部分的样式表 */
div.conten1 {
	background-color:#FFF;
	padding:20px;
	margin:20px;
	border-style:solid;
	border-width: 0px 2px 2px 0px;
	border-color:#999
	}
ul.dierge {
	list-style:circle;
	}
/* 第三部分 */
div.conten2 {
	background-color:#FFF;
	padding:20px;
	margin:20px;
	border-style:solid;
	border-width: 0px 2px 2px 0px;
	border-color:#999
	}
div.tupian1 {
	width:240px;
	margin:10px;
	text-align:center;
	border-style:double;
}
/* 第四部分 */
div.conten3 {
	background-color:#FFF;
	padding:20px;
	margin:20px;
	border-style:solid;
	border-width: 0px 2px 2px 0px;
	border-color:#999
	}
/* 第五部分 */
div.conten4 {
	background-color:#FFF;
	padding:20px;
	margin:20px;
	border-style:solid;
	border-width: 0px 2px 2px 0px;
	border-color:#999
	}
table.biaoge {
	width:100%;
	border-collapse:collapse;
	border-color:#CCC;
	font-size:0.8em;
}
td.zongji {
	background-color:#CCC;
}
th {
	background-color:#000;
	color:#FFF;
	border-color:#FFF;
}
/* 第六部分 */
div.conten5 {
	background-color:#FFF;
	padding:20px;
	margin:20px;
	border-style:solid;
	border-width: 0px 2px 2px 0px;
	border-color:#999
	}
div.celan {
	position:relative;
	width:auto;
	height:40px;
	line-height:40px;
	background-color:#FFF;
	border-left:3px solid #666;
	padding-left:5px;
}
div.biaogegeshi {
	width:800px;
	font-size:0.85em;	
}
table.diaocha {
	margin-left:auto;
	margin-right:auto;
}
td.diaochaneirong {
	text-align:right;
}